header {
  background : whitesmoke;
  display : flex;
  align-items : center;
  justify-content : flex-end;

  position : relative;
  width : 100%;
  top : 0;
  height : 80px
}

header > h1 {
  padding-left : 10px;
  padding-right : 10px;
  margin-right : auto;
}

.header-link {
  padding : 10px;
}

.sidebar {
  position : absolute;
  background : grey;
  top : 80px; /*this matches header height */
  bottom : 90px; /*this footer header height */
  left : 90%; /*this keeps it stuck to left of page */
  right : 0px; /*this allows visibility of rest of page*/
}

footer {
  position: fixed;
  background: green;
  bottom : 0;
  height : 90px;
  width : 100%;
}


/* -------------------------------------------- */

.speed-typing-main {
  padding-right : 10%;
  display : flex;
  flex-direction : column;
  align-items : center;
  text-align : center;
}

.speed-typing-main > textarea {
  height : 200px;
  width : 60%;
  font-size : 3.5vw;
}

/* -------------------------------------------- */
.contacts-add-area {
  display : flex
}

.contacts-list-notepad {
  display : flex;
  flex-direction : column;
  align-items : center;
  text-align : center;
}

/* -------------------------------------------- */
button {
  padding : 10px;
  font-weight : 700;
  margin : 5px;
}


